<div class="screen">
  <app-sidebar class="sidebar"></app-sidebar>
  <div class="container">
    <app-header class='header'></app-header>
    <div class="content">

      <div class="title">
        <div class="left">
          <img src="assets/images/marca-aplicacao.svg" alt="Marca Protocolo">
          <span>/ Natureza do requerimento</span>
        </div>
        <div class="right">
          <div class="left"><i class="material-icons">equalizer</i> Todos os protocolos</div>
          <div class="right">
            <div>343</div>
            <div><span>+6</span> essa semana</div>
          </div>
          <i class="material-icons">keyboard_arrow_down</i>
        </div>
      </div>

      <div class="busca">
        <div class="title">
          <div>Natureza do requerimento</div>
          <div>Tela de cadastro</div>
        </div>

        <form [formGroup]="form" class="form" (ngSubmit)='addItem(descricao)'>
          <div class="descricao">
            <label for="descricao">Descrição</label>
            <input type="text" id="descricao" placeholder="Preencha aqui" formControlName="descricao" #desc>
          </div>
          <div class="input">
            <label for="input">Input 2</label>
            <input type="text" id="input" placeholder="Preencha aqui" formControlName="input">
          </div>
          <div class="submit">
            <span *ngIf="editar; then edit else notEdit"></span>
            <ng-template #notEdit>
              <button type='submit' id="novaNatureza" #novaNatureza>Nova Natureza</button>
              <button type="reset" (click)="clearForm()">Limpar</button>
            </ng-template>
            <ng-template #edit>
              <button type='submit' #editar (click)='updateProtocolo(desc.value)'>Editar</button>
              <button type="reset" (click)="clearForm()">Cancelar</button>
            </ng-template>
          </div>
        </form>
        <div *ngIf="form.errors" class="error">O campo "descrição" é obrigatório</div>
      </div>
      {{desc.value}}
      <app-lista
        [protocolo]="protocolo"
        (edit)="editItem($event, desc)"
        (delete)="deleteProtocolo($event)"
        [isActive]='editar'>
      </app-lista>

    </div>
  </div>
</div>
