<div class="screen">
  <app-sidebar class="sidebar"></app-sidebar>
  <div class="container">
    <app-header class='header'></app-header>
    <div class="content">

      <div class="title">
        <div class="left">
          <img src="./../assets/images/marca-aplicacao.svg" alt="Marca Protocolo">
          <span>/ Natureza do requerimento</span>
        </div>
        <div class="right">
          <div class="left"><i class="material-icons">equalizer</i> Todos os protocolos</div>
          <div class="right">
            <div>343</div>
            <div><span>+6</span> essa semana</div>
          </div>
          <i class="material-icons">keyboard_arrow_down</i>
        </div>
      </div>

      <div class="busca">
        <div class="title">
          <div>Natureza do requerimento</div>
          <div>Tela de cadastro</div>
        </div>
        <form class="form">
          <div class="descricao">
            <label for="descricao">Descrição</label>
            <input type="text" id="descricao" placeholder="Preencha aqui" ngModel name="descricao" #descricao="ngModel"
              (change)='log(descricao)'>
          </div>
          <div class="input">
            <label for="input">Input 2</label>
            <input type="text" id="input" placeholder="Preencha aqui" ngModel name="input" #input="ngModel"
              (change)='log(input)'>
          </div>
          <div class="submit">
            <button>Nova Natureza</button>
            <button>Limpar</button>
          </div>
        </form>
      </div>

      <div class="table">
        <table>
          <thead>
            <th>Nomes</th>
            <th>Unidades Envolvidas</th>
            <th>Tipos de Natureza</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let item of protocolo">
              <td>
                  <div class="nome">{{ item.name }}</div>
                  <div class="subtitulo">{{ item.subtitulo }}</div>
              </td>
              <td>{{ item.unidade }}</td>
              <td>{{ item.tipos_natureza}}</td>
              <td>
                <button class="actions visualizar"><i class="material-icons">visibility</i> Visualizar</button>
                <button class="actions"><i class="material-icons">edit</i> Editar</button>
                <button class="actions"><i class="material-icons">delete_outline</i> Deletar</button>
              </td>
            </tr>
            <!-- <tr class="active">
              <td>
                <div>Nome do bagulho</div>
              </td>
              <td>43</td>
              <td>234</td>
              <td>
                <button class="actions visualizar"><i class="material-icons">visibility</i> Visualizar</button>
                <button class="actions"><i class="material-icons">edit</i> Editar</button>
                <button class="actions"><i class="material-icons">delete_outline</i> Deletar</button>
              </td>
            </tr>

            <tr>
              <td>
                <div>Nome do bagulho</div>
              </td>
              <td>43</td>
              <td>234</td>
              <td>
                <button class="actions visualizar"><i class="material-icons">visibility</i> Visualizar</button>
                <button class="actions"><i class="material-icons">edit</i> Editar</button>
                <button class="actions"><i class="material-icons">delete_outline</i> Deletar</button>
              </td>
            </tr> -->

          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
