@import './../assets/styles/variables';
.screen {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    .sidebar {
        flex: 1;
        max-width: 90px;
    }
    .header {
        flex: 18;
    }
    .content {
        height: 100px;
    }
}