<div class="screen">
  <app-sidebar class="sidebar"></app-sidebar>
  <div class="content">
    <app-header class='header'></app-header>
    <div class="outra-coisa">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque rerum quos necessitatibus iusto architecto cupiditate ex laboriosam reiciendis! Vitae ducimus doloribus totam enim inventore sed ut, quis ad incidunt consequuntur?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque rerum quos necessitatibus iusto architecto cupiditate ex laboriosam reiciendis! Vitae ducimus doloribus totam enim inventore sed ut, quis ad incidunt consequuntur?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque rerum quos necessitatibus iusto architecto cupiditate ex laboriosam reiciendis! Vitae ducimus doloribus totam enim inventore sed ut, quis ad incidunt consequuntur?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque rerum quos necessitatibus iusto architecto cupiditate ex laboriosam reiciendis! Vitae ducimus doloribus totam enim inventore sed ut, quis ad incidunt consequuntur?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque rerum quos necessitatibus iusto architecto cupiditate ex laboriosam reiciendis! Vitae ducimus doloribus totam enim inventore sed ut, quis ad incidunt consequuntur?</p>
    </div>
  </div>
</div>
