<div class="sidebar">
    <div class="sidebar-content">
        <i class="material-icons active">notes</i>
        <i class="material-icons">assignment</i>
        <i class="material-icons">check_circle</i>
        <i class="material-icons">equalizer</i>
    </div>
    <div class="sidebar-bottom">
        <div>
            <i class="material-icons active">account_balance</i>
        </div>
        <div class="active">
            <i class="material-icons">layers</i>
        </div>
    </div>
</div>
